.contact-popup-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #2a3647;
    color: white;
    gap: 20px;
    width: 30vw;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-left: 5%;
  }
  
  .contact-popup-left img {
    width: 50px;
  }
  
  .contact-popup-left h3 {
    font-weight: lighter !important;
  }
  
  .contact-popup-left h1 {
    font-size: 40px;
  }
  
  .blue-line-add-Contact {
    width: 10vw;
    height: 4px;
    background-color: #29abe2;
  }
  
  .initialsEdit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .addPersonPic {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgCheck {
    margin-top: -8px;
  }
  
  .imgClose {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  
  .imgCancel {
    margin-top: -4px;
    width: 20px;
    height: 20px;
  }
  
  .iconPerson {
    background: url("/img/person.png");  
  }
  
  .iconMail {
    background: url("/img/mail.png");
  }
  
  .iconCall {
    background: url("/img/call.png");
  }
  
  .iconLock {
    background: url("/img/lock.png");
  }
  
  .iconDefault {
    background-size: 20px;
    background-position: 95%;
    background-repeat: no-repeat;
  }
  
  .delete-save-btn {
    display: flex;
    justify-content: space-between;
    width: 92%;
  }
  
  .cancel-createContact-btn {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  
  .check-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-btn {
    margin-right: 8px;
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid #2a3647;
    color: #2a3647;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .delete-btn:hover {
    color: #29abe2;
    border-color: #29abe2;
    background-color: white !important;
  }
  
  .cancel-btn {
    margin-right: 8px;
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid #2a3647;
    color: #2a3647;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cancel-btn:hover {
    color: #29abe2;
    border-color: #29abe2;
    background-color: white !important;
  }
  
  .cancel-btn:hover img {
    content: url(../img/cancel_lightblue.png);
  }
  
  .save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a {
    color: rgb(128, 189, 246);
  }
  
  .navi-all {
    display: flex;
  }
  
  .navi {
    width: 232px;
    height: 100vh;
    background-color: #2a3647;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 16px;
  }
  
  .addUserButtonDiv {
    position: fixed;
    background-color: white;
    width: 40vw;
    height: 200px;
    z-index: 2;
  }
  
  .btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 56px;
    background-color: #2a3647;
    margin-bottom: 24px;
    border-radius: 8px;
    border-color: #2a3647;
    font-size: 24px;
    margin-left: calc(50% - 15vw);
    margin-top: 120px;
  }
  
  .person_add {
    width: 32px;
    height: 32px;
    margin-top: -8px;
  }
  
  .addNewUserPic {
    margin-bottom: -1200px;
    margin-left: -480px;
  }
  
  li {
    word-wrap: break-word;
  }
  
  .contactLeft {
    position: fixed;
    background-color: white;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    top: 0px;
    background-color: white;
    height: 100vh;
    width: 40vw;
    z-index: 1;
  }
  
  
  