.summaryOuterFrame {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.summaryOuterFrame a{
    text-decoration: none;
}

.summaryFrameTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 190px;
}

.summaryFrameCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
}

.summaryFrameBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 190px;
    width: 100%;
}

.summaryLeftFrame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 580px;
}

.summaryRightFrame {
    display: flex;
    align-items: flex-start;
    padding-left: 64px;
    flex-direction: column;
    justify-content: center;
}

.summaryBoxTop {
    background-color: #ffffff;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 38px, 19px, 38px, 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryBoxCenter {
    background-color: #ffffff;
    width: 560px;
    height: 168px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 28px, 48px, 28px, 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryBoxBottom {
    background-color: #ffffff;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 25px, 0px, 25px, 0px;
}

.fixed-width-bottom{
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-width-bottom:first-child{
    justify-content: flex-start;
}

.fixed-width-bottom:last-child{
    justify-content: flex-end;
}

.goodMorning {
    font-size: 42px;
}

.userName {
    font-size: 56px;
    font-weight: bold;
    color: #29ABE2;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.greyLine {
    height: 102px;
    width: 2px;
    background-color: #D1D1D1;
    margin-left: 48px;
    margin-right: 48px;
}

.summaryBoxTop:hover {
    background-color: #2A3647;
    color: white;
    width: 282px;
    height: 184px;
    cursor: pointer;
    transition-delay: 0.05s;
}

.summaryBoxCenter:hover {
    background-color: #2A3647;
    color: white;
    width: 576px;
    height: 184px;
    cursor: pointer;
    transition-delay: 0.05s;
}

.summaryBoxBottom:hover {
    background-color: #2A3647;
    color: white;
    width: 184px;
    height: 184px;
    cursor: pointer;
    transition-delay: 0.05s;
}

.summaryToDo:hover img {
    content: url('../img/summaryToDoWhite.png');
    transition-delay: 0.05s;
}

.summaryDone:hover img {
    content: url('../img/summaryDoneWhite.png');
    transition-delay: 0.05s;
}

.link a:visited {
    color: #000000;
}

.userMenuBox {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 158px;
    background-color: #2A3647;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    position: fixed;
    z-index: 997;
    box-shadow: 0px 0px 4px 0px #0000001A;
    top: 105px;
    right: 5px;
    animation: userMenuAnimation 0.5s;
}

@keyframes userMenuAnimation {
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}

.userMenuOption {
    display: flex;
    align-items: center;
    width: 120px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    color: white;
}

.userMenuOption:hover {
    background-color: #37475e;
    cursor: pointer;
}

.helper {
    width: 20px;
}

.helper:hover {
    width: 24px;
    cursor: pointer;
}

.miniIcons {
    cursor: pointer;
    height: 24px;
}

.miniIcons:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
}

.overflowYHidden {
    overflow-y: hidden;
}

.inputBox {
    background-color: white;
    padding: 4px 16px;
    border-radius: 8px;
    border: 1px solid black;
    height: 32px;
    display: flex;
    align-items: center;
}

.inputBox:hover {
    border-color: #29ABE2 !important;
}